body {
    margin: 20px;
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding-left: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.us-map-container {
    flex: 1 5 75%;
    margin-left: 16px;
    background-color: #fff !important;
}

.map-legend {
    display: flex;
    justify-content: center;
}

.sidebar-container {
    min-height: 610px;
    display: flex;
    flex: 1 1 20%;
    flex-wrap: wrap;
    align-content: space-between;
}

.sidebar {
    line-height: 25px;
    background-color: #fff !important;
    padding: 24px;
    font-size: 1.25rem;
    width: 100%;
}

.data-title {
    font-size: 1.5rem;
}

.toggle-data-radio, .data-label {
    border-top: lightgray 1px solid;
    padding-top: 12px;
    margin-top: 12px;
}

.data-row {
    display: flex;
    justify-content: space-between;
}

.data-row-label {
    margin-left: 8px;
}

.background {
    fill: #fff;
    pointer-events: all;
}

#states .active {
    display:none;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    stroke: #fff;
    stroke-width: 0.25px;
}

.county-boundary:hover, .state:hover {
    fill: darkred !important;
}


/* For screens smaller than 1440px */
@media only screen and (max-width: 1440px) {
    body {
        margin: 12px;
    }

    .us-map-container {
        width: 100%;
        flex-basis: auto;
        margin: 0;
    }

    .sidebar-container {
        min-height: 0;
        width: 100%;
        display: flex;
        flex-basis: auto;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sidebar {
        min-width: 250px;
        max-width: 300px;
        margin: 0 0 8px 0;
        display: inline-block;
        background-color: #fff !important;
        padding: 12px;
        font-size: 1.25rem;
    }
}





.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
svg.legend {
    padding-left: 50px;
}
