body {
    margin: 20px;
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-left: 20px;
}

.us-map-container{
    display: flex;
    flex-wrap: wrap;
}

.us-map-visualization {
    flex-basis: 75%;
    margin-right: 10px;
}

.sidebar-container {
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.toggle-data, .hover-data{
    margin: 5px 0 5px 0;
    background-color: #fff !important;
    padding: 24px;
    font-size: 1.5rem;
}

.hover-data {
    line-height: 40px;
}

.toggle-population-data {
    padding-bottom: 12px;
}

.background {
    fill: #fff;
    pointer-events: all;
}

#states .active {
    display:none;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    stroke: #fff;
    stroke-width: 0.25px;
}

.county-boundary:hover, .state:hover {
    fill: darkred !important;
}

.toggle-data-title {
    font-size: 2rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;
}

input[type="radio"][disabled] + label{
    color: gray;
    text-decoration: line-through;
}


/* For screens smaller than 1440px */
@media only screen and (max-width: 1440px) {
    body {
        margin: 12px;
    }

    .us-map-visualization {
        flex-basis: 100%;
        margin-right: 0;
    }

    .sidebar-container {
        display: flex;
        flex-direction: row;
        flex-basis: auto;
    }

    .toggle-data, .hover-data{
        margin-top: 8px;
        display: inline-block;
        background-color: #fff !important;
        padding: 24px;
        font-size: 1.25rem;
    }

    .hover-data {
        margin-left: 12px;
        line-height: 30px;
    }
}
