name: Update Coronavirus Data from CSSEGISandData

on:
  schedule:
    - cron: '0 6 * * *' # every day at 2am EST

  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: npm install

      - name: Scrape
        run: npm run updateData

      - uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Sync data to S3
        run: |
          aws s3 sync web/data/ s3://${{ secrets.AWS_S3_BUCKET }}/covid-map/data --delete --exclude 'sources.txt' --acl public-read
